.trivia-answers {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.answer-card {
  border: 1px solid black;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
